h1 {
    text-align: center;
}
.todo {
    border: 1px solid #000;
    border-radius: 15px 0 15px 0;
    box-shadow: 15px 15px 15px 5px;
    background-color: rgba(217, 214, 214, 0.64);
    

    display: block;
    padding: 20px;
    margin: 50px;
}
#cotiz {
    color: white;
    border-radius: 12px 0 12px 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.729);
}
#valor {
  
    border-radius: 12px 0 12px 0;
    padding: 5px;
    
}


.todo {
    width: 50%;
    border: 1px solid #000;
    padding: 20px;
    margin: 25%;
    margin: 15%;
   
}
span{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;

    animation: typing 3s steps(12) infinite, blink .5s infinite step-end alternate ;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0;}
}
@keyframes blink {
    50% {border-color: transparent;}
}

.caja {
    border: 1px solid red;
    width: 200px;
    margin: 30px;
}
.caja.azul {
    border: #000 solid 2px;
    background-color: purple;
    color: purple;
    padding: 20px;
   
}