h1 {
    text-align: center;
}
.todo {
    border: 1px solid #000;
    border-radius: 15px 0 15px 0;
    box-shadow: 15px 15px 15px 5px;
    background-color: rgba(217, 214, 214, 0.64);
    

    display: block;
    padding: 20px;
    margin: 50px;
}
#cotiz {
    color: white;
    border-radius: 12px 0 12px 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.729);
}
#valor {
  
    border-radius: 12px 0 12px 0;
    padding: 5px;
    
}


.todo {
    width: 50%;
    border: 1px solid #000;
    padding: 20px;
    margin: 25%;
    margin: 15%;
   
}
.pract{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;

    animation: typing 3s steps(12) infinite, blink .5s infinite step-end alternate ;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0;}
}
@keyframes blink {
    50% {border-color: transparent;}
}

.caja {
    border: 1px solid red;
    width: 200px;
    margin: 30px;
}
.caja.azul {
    border: #000 solid 2px;
    background-color: purple;
    color: purple;
    padding: 20px;
   
}
/*Section Houer*/

.container {
    height: 12vh;
    width: 70vw;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    border-radius: 16px 0 16px 0;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.338);
    
}
.reloj-container{
    border: 1px solid #fff;
    background-color: rgba(50, 49, 49, 0.667);
    border-radius: 16px 0 16px 0;
    padding: 10px;
    box-shadow: 5px 5px 5px 1px rgba(233, 229, 229, 0.767);
}

/*Here begin the animation i am coding*/

.animation {
    width: 40%;
    height: 20vh;
    background-color: #000;
    color: #fff;
    padding: 30px;
    border-radius: 16px 0 16px 0;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.338);

    display: flex;
    align-items: center;
    justify-content: center;
}
.animation h1 {
    font-size: 20px;
}
.auto-type{
    color: red;
}